<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackathon_hackmeet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon_hackmeet">
        <activity
            android:name=".Exit"
            android:exported="false"
            android:label="@string/title_activity_exit"
            android:theme="@style/Theme.Hackathon_hackmeet.NoActionBar" />
        <activity
            android:name=".hackathonDashboard"
            android:exported="false" />
        <activity
            android:name=".listOfHackers"
            android:exported="false" />
        <activity
            android:name=".yourHackerMatch"
            android:exported="false" />
        <activity
            android:name=".describeYourself"
            android:exported="false" />
        <activity
            android:name=".signUpForm"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".signupOrLogin"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>